@import '../../App.scss';
.swipe-block{
    border:1px solid yellowgreen;
    width: 20%;
        box-sizing: border-box;
    img{
        // 图片
        display: inline-block;
        width: 100%;
        height: pxToRem(40);
        margin: 0 auto;
    }
    p{
        font-size: pxToRem(7.9);
        text-align: center;
    }
}