@import '../../../../App.scss';

.guess-you-like-wrap{
    width:100%;
    .guess-you-like-block{
        width:100%;
        height: pxToRem(60);
        // background-color: aquamarine;
        border-bottom: 1px solid #eee;
        margin-bottom: pxToRem(10);
        padding-bottom: pxToRem(10);
        .left,.right{
            display: inline-block;
            height: 100%;
        }
        .left{
            &.image{
                    width: 30%;
                    box-sizing: border-box;
                    padding-right: pxToRem(20);
                    // border: 1px solid red;
                    padding: pxToRem(5);
            }
        }
        .right{
            width: 70%;
            overflow: hidden;
            p{
                margin: pxToRem(6);
            }
            .value{
                font-weight: 900;
                font-size: pxToRem(10);
            }
            .desc{
                font-size: pxToRem(8);
                color: #666;
            }
            .price{
                color: red;
                font-weight: 1000;
            }
        }
    }
}